{% extends 'base.html' %}
{% block title %}הזמנה חדשה{% endblock %}
{% block page %}
    <form action="" method="post" id="order_form" data-locks-url="{% url 'ajax_load_locks' %}" novalidate>
        {% csrf_token %}
        <div class="container">
            <div class="row my-1">
                <div class="col-3 d-flex justify-content-start">
                    <label for="id_id" class="text-nowrap ms-4">{{ form.id.label }}:</label>
                    {{ form.id }}
                </div>
                <div class="col-4 d-flex justify-content-start">
                    <label for="id_customer" class="text-nowrap ms-4">{{ form.customer.label }}:</label>
                    {{ form.customer }}
                </div>
            </div>
            <div class="row my-1">
                <div class="col-4 d-flex justify-content-start">
                    <label for="id_id" class="text-nowrap ms-4">{{ form.door_type.label }}:</label>
                    {{ form.door_type }}
                </div>
                <div class="col-4 d-flex justify-content-start">
                    <label for="id_id" class="text-nowrap ms-4">{{ form.engraving.label }}:</label>
                    {{ form.engraving }}
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="d-flex justify-content-start my-1">
                        <label for="id_id" class="text-nowrap ms-4">{{ form.lock.label }}:</label>
                        {{ form.lock }}
                    </div>
                    <div class="d-flex justify-content-start my-1">
                        <label for="id_id" class="text-nowrap ms-4">{{ form.hinges.label }}:</label>
                        {{ form.hinges }}
                    </div>
                    <div class="d-flex justify-content-start my-1">
                        <label for="id_casing" class="text-nowrap ms-4">{{ form.casing.label }}:</label>
                        {{ form.casing }}
                    </div>
                </div>
                <div class="col-5 d-flex justify-content-start my-1">
                    <label for="id_comment" class="text-nowrap ms-4">{{ form.comment.label }}:</label>
                    {{ form.comment }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">שמור</button>
        </div>
    </form>

{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% load static %}
    <script src="{% static 'js/filters.js' %}"></script>
{% endblock %}