{% extends 'base.html' %}

{% block title %}הזמנה {{ doors.id }}{% endblock %}
{% block page %}
    {% with main_group=groups|first %}
        <div class="d-flex">
            <h4 class="mx-2">הזמנה: {{ main_group.order.id }}</h4>
            <h4 class="mx-2">לקוח: {{ main_group.order.customer }}</h4>
        </div>
    {% endwith %}
    {% for group in groups %}
        <div class="row g-0 m-0 p-0">
            <div class="col-6">
                <div class="row">
                    <div class="col-3">
                        <p class="">מנעול:</p>
                    </div>
                    <div class="col-7">
                        <p class="pe-2 text-bg-warning rounded-1 bg-opacity-25">{{ group.lock.name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="">צירים:</p>
                    </div>
                    <div class="col-7">
                        <p class="pe-2 text-bg-warning rounded-1 bg-opacity-25">{{ group.hinges.name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p class="">סוג הדלתות:</p>
                    </div>
                    <div class="col-7">
                        <p class="px-1 text-bg-success text-dark rounded-1 bg-opacity-25">{{ group.door_type.name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <p class="px-1 text-bg-success text-dark rounded-1 bg-opacity-25">{{ group.engraving.name }}</p>
                    </div>
                </div>

            </div>

            <div class="col-6">
                <img src="{{ group.door_type.image.url }}" alt=".."
                     style="max-width: 150px; max-height: 250px;" class="draw">
            </div>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" style="width: 15%">מידות</th>
                <th scope="col" style="width: 15%">כיוון</th>
                <th class="text-center" scope="col" style="width: 8%">מזוזה</th>
                <th scope="col" style="width: 8%">מחזיר שמן</th>
                <th class="col" scope="col" style="width: 8%">כמות</th>
                <th scope="col">הערות</th>
            </tr>
            </thead>
            <tbody id="doors_table_id">
            {% for door in doors %}
                {% if door.group == group %}
                    <tr class="fs-5">
                        <th class="pe-2 p-0" style="width: 3%" scope="row">{{ door.number }}</th>
                        <td class="p-0" style="width: 15%" dir="rtl">{{ door.height }}x{{ door.width }}</td>
                        <td class="p-0" style="width: 15%">{{ door.direction }}</td>
                        <td class="p-0 text-center" style="width: 8%">{{ door.mezuzah|yesno:"כן,לא" }}</td>
                        <td class="p-0 text-center" style="width: 8%">{{ door.closer|yesno:"כן,לא" }}</td>
                        <td class="p-0" style="width: 8%"> {{ door.quantity }}</td>
                        <td class="p-0">{{ door.comment }}</td>
                        <td class="p-0">
                            <a href="{% url 'remove_door_instance' instance_id=door.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red"
                                     class="bi bi-x-square" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                </svg>
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

    {% endfor %}
    <form action="" method="post" class="">
        {% csrf_token %}
        <div class="row g-0">
            <div class="col-1">{{ form.width.label }}{{ form.width }}</div>
            <div class="col-1">{{ form.height.label }}{{ form.height }}</div>
            <div class="col-2" style="width: 15%">{{ form.direction.label }}{{ form.direction }}</div>
            <div class="col-1 p-1 m-1" style="width: 10%">
                <div class="form-check form-check-reverse">
                    {{ form.mezuzah.label }}{{ form.mezuzah }}
                </div>
                <div class="form-check form-check-reverse">
                    {{ form.closer.label }}{{ form.closer }}
                </div>
            </div>
            <div class="col-1">{{ form.quantity.label }}{{ form.quantity }}</div>
            <div class="col-4">{{ form.comment.label }}{{ form.comment }}</div>
        </div>

        <div class="container d-flex m-2">
            <button type="submit" class="btn btn-outline-primary m-2" id="copy_door_btn">להוסיף דלדת</button>
            <button type="button" class="btn btn-outline-primary m-2" id="add_other_door_btn" data-bs-toggle="modal"
                    data-bs-target="#new_door_form">להוסיף דלת אחרת
            </button>
            <button type="submit" class="btn btn-outline-success m-2">לשמור</button>
        </div>
    </form>
    <!-- Modal -->
    <div class="modal fade" id="new_door_form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url "add_door_group" order_id=groups.first.order.id %}" method="post"
                          enctype="multipart/form-data" class="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-4">{{ form_group.door_type.label }}</div>
                            <div class="col-7">{{ form_group.door_type }}</div>
                        </div>
                        <div class="row">
                            <div class="col-4">{{ form_group.lock.label }}</div>
                            <div class="col-7">{{ form_group.lock }}</div>
                        </div>
                        <div class="row">
                            <div class="col-4">{{ form_group.hinges.label }}</div>
                            <div class="col-7">{{ form_group.hinges }}</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">לבטל
                            </button>
                            <button type="submit" class="btn btn-outline-primary" id="new_doors_group_btn">
                                להוסיף דלת
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static 'js/filters.js' %}"></script>
{% endblock %}